{
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "printWidth": 80,
                "singleQuote": false,
                "semi": true,
                "tabWidth": 2,
                "useTabs": false,
                "endOfLine": "lf",
                "trailingComma": "none",
                "bracketSpacing": true,
                "arrowParens": "avoid",
                "proseWrap": "always"
            }
        }
    ]
}
